body{
    background-color: white;
    color: #fff;
}

body *{
    font-family: Ubuntu;
    color: lightblue;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: lightblue;
    text-decoration: none;
}